$color-primary-background: #fefefe !default;
$color-text: #333 !default;
$color-text-button: #580c51 !default;

$color-border: #aaa;
$color-primary: rgb(130, 17, 17);
$color-secondary: rgb(189, 111, 111);
$color-secondary-background: rgb(63,94,251) !default;
$color-gradient: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

$font-primary-url: 'https://fonts.googleapis.com/css2?family=Raleway&display=swap';
$font-primary-name: 'Raleway';

$font-secondary-url: 'https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Slab:wght@500&display=swap';
$font-secondary-name: 'Roboto Slab';

