$color-primary-background: #fefefe !default;
$color-text: #333 !default;
$color-text-button: #580c51 !default;

$color-border: rgb(246, 242, 242);
$color-primary: #007FFF;
$color-secondary: #343F3E;
$color-primary-background: #DCEDFF;
$color-secondary-background: rgb(214, 241, 251) !default;
$color-gradient: radial-gradient(circle, rgb(255, 255, 255) 0%, #81c0ff 100%);

$font-primary-url: 'https://fonts.googleapis.com/css2?family=Raleway&display=swap';
$font-primary-name: 'Raleway';

$font-secondary-url: 'https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Slab:wght@500&display=swap';
$font-secondary-name: 'Roboto Slab';

