@import './base';

body {
    background: $color-gradient;
}

.cover {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $color-secondary-background;
    border: 2px solid $color-secondary;
    margin: auto;
    padding: 1.5rem;
    box-shadow: rgba(111, 111, 117, 0.2) 0px 7px 29px 0px;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 65vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
        font-size: 2.25rem;
        margin-bottom: 2.5rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    label {
        padding-top: 0.8rem;
    }

    .teacherForm {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }


    .goToLogin {
        margin-top: 1rem;
    }

    
}