@import './base';

body {
    background: $color-gradient;
}

.cover {
    background-color: $color-secondary-background;
    margin: auto;
    padding: 1.5rem;
    box-shadow: inset 0 0 1.5rem 0.2rem rgba(0, 0, 0, 0.5);
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 65vw;

    h1 {
        font-family: 'Roboto Slab', sans-serif;
        font-size: 2.25rem;
        margin-bottom: 2.5rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    label {
        padding-top: 0.8rem;
    }

    .teacherForm {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .submitBtn {
        margin-top: 1rem;
    }

    .goToLogin {
        margin-top: 1rem;
    }

    
}